
cmake-build-debug/

cmake-build-release/

__pycache__/

data/

**/.ipynb_checkpoints/
ea/

*.bin

*.ipynb

build/

*.out

em3d_*.txt
em_*.txt
am_*.txt
cfg_*
cor_*
mag_*
meas.txt
/phi4_data/**
/data2/**
