
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/

__pycache__/

data/
copilot.data.migration.ask.xml

**/.ipynb_checkpoints/
ea/

*.bin
*.ipynb
build/
*.out

em3d_*.txt
em_*.txt
am_*.txt
cfg_*
cor_*
mag_*
meas.txt
/phi4_data/**
/data2/**

perf.*

*.tar.gz
*.tgz
*.zip
notebooks/EdwardsAnderson/Transformers/cfgs
notebooks/EdwardsAnderson/Transformers/numpy
